# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Python packaging
build/
dist/
*.egg-info/

# Model files
*.pkl
*.joblib

# Operating System files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# PyCharm
.idea/
